*,
button:hover,
.remove:hover,
.candle__icon:hover,
.parchment__nav__li:hover {
    cursor: url("../media/feather.png") 4 28, auto;
}


input:focus,
input:hover,
textarea:focus,
textarea:hover {
    cursor: url("../media/feather-writing.png")4 28, auto;
}


html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    padding: 0 5px 5px;
    background-image: url("../media/parchment.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* fonts */
.font {
    font-family: "MedievalSharp", cursive, "Noto Serif Georgian", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #222222;
}

.handwriten__font {
    font-family: "Cinzel", serif;
    font-style: normal;
}

/* signature fonts */
.signature__font {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

/* loader */
.loader__section {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff18;
    backdrop-filter: blur(5px);
    z-index: 2000;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;

}

.loader__text {
    position: relative;
    font-size: 24px;
    transform: translateY(30px);
    font-weight: 500;
    width: 0%;
    opacity: 0;
    text-wrap: nowrap;
    overflow: hidden;
    animation: loader 3s ease-in-out forwards infinite;
}


@keyframes loader {
    0% {
        width: 0%;
        opacity: 0;
    }

    50%,
    60%,
    70%,
    80% {
        width: 143px;
        opacity: 1;
    }

    100% {
        width: 0%;
        opacity: 1;
    }
}

/* header */
.index__header {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-inline: 10px;

}


.index__header__logo {
    width: 64px;
    height: 64px;
}

.index__header__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* parchment scroll div */

.parchment__menu__div {
    transform: translateY(-15px);
    position: relative;
    width: fit-content;
    height: fit-content;
}


.ancient__scroll {
    width: 150px;
    height: 40px;
    z-index: 100;
}

.parchment__nav__div {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 100px;
    height: 0px;
    opacity: 0;
    z-index: -1;
    transition: .4s;
    background-image: url("../media/parchment-list.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.parchment__menu__div:hover .parchment__nav__div {
    height: 170px;
    opacity: 1;
}

.parchment__nav__list {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 0 0 25px;
}

.parchment__nav__ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.parchment__nav__li {
    list-style: upper-roman;
    cursor: pointer;
    transition: .5s;
    padding: 5px 0px;
}

.parchment__nav__li:hover {
    transform: translateY(-5px);
}

/* search div */
.header__search__div {
    position: relative;
    width: 350px;
}

.header__search__div img {
    width: 20px;
    height: 20px;
    position: absolute;
}

input {
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    background-color: transparent;
    transition: .4s;

}

.search {
    outline: none;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: .4s;
}

.quotes__icon__left {
    bottom: -10px;
    left: -20px;
}

.quotes__icon__right {
    top: -10px;
    right: 0px;
    transform: rotateX(-180deg);
}


.header__buttons__div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    height: fit-content;

}


.log_in {
    position: relative;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-clip: text;
    background-position: 200%;
    border: 2px dashed #000000;
    border-radius: 2px;
    font-size: 16px;
    transition: .7s;
    text-shadow: 0 0 5px #FFFFFF;

}

.log_in::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -2px;
    width: 0%;
    height: 0%;
    opacity: 0;
    border-radius: 1px;
    border-top: 2px dashed #FFFFFF;
    border-left: 2px dashed #FFFFFF;
}

.log_in::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 0%;
    height: 0%;
    opacity: 0;
    border-radius: 1px;
    border-right: 2px dashed #FFFFFF;
    border-bottom: 2px dashed #FFFFFF;
}

.log_in:hover {
    background-position: 100% 50%;
    color: transparent;
    border: 2px dashed rgba(0, 0, 0, 0);
}

.log_in:hover::before {
    animation: log_in_animation 0.5s forwards;

}

.log_in:hover::after {
    animation: log_in_animation 0.5s forwards;
}

@keyframes log_in_animation {
    0% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }

    50% {
        width: 101%;
        height: 0%;
        opacity: 1;
    }

    100% {
        width: 101%;
        height: 100%;
        opacity: 1;
    }
}


/* overlay for registration div */
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.326);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
}


/* main tag */
.index__main {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    width: 100%;
    height: calc(100% - 100px);
}

/* registration section */
.registration {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 30px;
    width: 400px;
    height: fit-content;
    border: 2px dashed #000000;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1000;
}

.registration__header {
    font-size: 32px;
}

/* registration form */

.input__div {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    overflow-y: hidden;
}

.username {
    position: relative;
    display: none;
    transform: translateY(-50px);
}

.username__anime {
    animation: username .4s forwards;
    display: inline-block;
}

@keyframes username {
    from {
        transorm: translate(-50px);
    }

    to {
        transform: translateY(0);
    }
}


.registration__form input {
    position: relative;
    border: 2px dashed #000000;
    font-weight: 700;
    transition: .4s;
}

.registration__form input:hover {
    border-color: #FFFFFF;
}

::placeholder {
    color: #102a4385;
}


.form__approve {
    transform: scale(0.7);
    opacity: 0;
    right: -10px;
}

.wax__anime {
    animation: wax .5s linear 0.6s forwards;
}

@keyframes wax {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.sword__svgs {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    width: 37px;
    height: fit-content;
}

.sword {
    width: 27px;
    height: 27px;
}

.reversed {
    transform: rotate(-90deg) translateY(-23px);
}

/* submit */
.submit {
    background-color: transparent;
    padding-block: 15px;
    width: 100%;
    font-size: 18px;
    border: 2px dashed #000000;
    margin-top: 30px;
    transition: .4s;
}

.submit:hover {
    transform: scale(1.05);
}

.toggle__span {
    display: inline-block;
    text-decoration: underline;
    transition: .4s;
}

.toggle__span:hover {
    transform: translateY(-5px);
}

.cancel__img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
}

/* section 2 */
.index__section2 {
    position: relative;
    width: 100%;
    display: flex;
    row-gap: 30px;
    align-items: end;
    flex-direction: column;
}

.index__section2.not__logedin .quote__article::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.section2__header__div {
    position: relative;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 10px;
    width: fit-content;
    height: fit-content;
    z-index: 10;
}

.feather__svg {
    position: absolute;
    left: 11px;
    top: 0px;
    z-index: -1;
    transition: .4s;
}


.ink__svg {
    width: 32px;
    height: 32px;
}

.section2__header__div:hover .feather__svg {
    top: -10px;
    left: 14px;
}

.section2__header__div:hover .new__quote {
    font-weight: 700;
    transform: translateY(-5px);
}

.new__quote {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: .4s;
}

/* new quote window */
.new__quote__div {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    border: 2px dashed black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 360px;
    height: fit-content;
    padding: 20px;
    transition: .4s;
    z-index: 50;
}

.appear {
    animation: lift_up .5s linear 1 forwards;
}

@keyframes lift_up {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.author__input {
    border: 2px dashed black;
    font-weight: 700;
    font-size: 24px;
}

.quote__textarea {
    border: 2px dashed black;
    font-weight: 600;
    resize: none;
    width: 100%;
    height: 200px;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    padding: 5px 10px;
}

.new__quote__div button {
    border: 2px dashed black;
    font-weight: 700;
    font-size: 18px;
    padding-block: 14px;
    font-size: 18px;
    transition: .4s;
    background-color: transparent;
}

.new__quote__div button:hover {
    transform: scale(1.05);
}

/* section for articles */
.section2__article__div {
    padding: 20px 20px 20px 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #000000 transparent;
    z-index: 0;
}

/* section 2 articles */
.quote__article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
    padding: 15px 10px;
    width: 100%;
    height: fit-content;
    border: 3px dashed #3e2723;
}

.quote__article.not__logedin::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.index__section2 h2 {
    font-size: 32px;
    font-weight: 600;
    color: #1B2D3D;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.index__section2 p {
    word-break: break-all;
    line-height: 20px;
    color: #102A43;
    text-shadow:
        0 0 0.5px #2c2c2c,
        0.5px 0.5px 0.1px rgba(0, 0, 0, 0.4),
        -0.5px -0.5px 0.1px rgba(0, 0, 0, 0.4);
}

.button__div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__div button {
    padding: 5px 10px;
    border: 2px dashed #000000;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(189, 0, 0);
    font-weight: 600;
    font-size: 17px;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    transition: .4s;
}

.button__div button:hover {
    border-color: rgb(189, 0, 0);
    transform: translateY(-5px)
}

.approval {
    position: absolute;
    width: 64px;
    height: 64px;
    bottom: 0;
    right: 0;
}

/* user div */

.user__div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: end;
    justify-content: center;
}

.user__div__header {
    font-size: 32px;
    font-size: 700;
    color: #102A43;
    text-shadow:
        0 0 0.5px #2c2c2c,
        0.5px 0.5px 0.1px rgba(0, 0, 0, 0.4),
        -0.5px -0.5px 0.1px rgba(0, 0, 0, 0.4);
}

.logout {
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    text-shadow: 0 0 0 transparent;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.logout:hover {
    transform: translateY(-5px);
    text-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}